{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/14e6e7efdd.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surya Portfolio</title>
  </head>
  <body>
    <!-- navigation bar -->
    <header>
      <a href="#home" class="logo">SURYA</a>
      <nav class="links">
        <a href="#home" class="active">Home</a>
        <a href="#about">About Me</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact Me</a>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="dropdown">
          <a href="#about" class="active">About Me</a>
          <a href="#skills">Skills</a>
          <a href="#projects">Projects</a>
          <a href="#contact">Contact Me</a>
        </div>
      </nav>
    </header>
    <!-- home page -->
    <section id="home">
      <div class="shape-outer sign-right">
        <div class="shape-inner sign-right"></div>
      </div>
      <div class="socials">
        <p>
          Hi, I'm Surya. I'm pursuing my B.Tech degree at Srm University. I
          aspire to become a Full-Stack Web developer. Currently, I am learning
          ReactJs, Django, Data Structure Algorithm and more.<br /><br />
          <a class="soc" href="https://www.linkedin.com/in/surya-s-490580229/"
            ><i class="fa-brands fa-linkedin"> </i
          ></a>

          <a class="soc" href="https://github.com/SURYA28052003"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a class="soc" href=""><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </section>

    <!-- about section -->
    <section id="about">
      <p>
        Hi, I'm Surya. I'm pursuing my B.Tech degree at Srm University. I aspire
        to become a Full-Stack Web developer. Currently, I am learning ReactJs,
        Django, Data Structure Algorithm and more.<br /><br />
        <b>My Thoughts</b><br />
        I don’t like to define myself by the work I’ve done. I define myself by
        the work I want to do. Skills can be taught, personality is inherent. I
        prefer to keep learning, continue challenging myself, and do interesting
        things that matter.I'm Always curious, humble and courageous.<br /><br />
        <b>My Goal</b><br />
        My abundant energy and boundless enthusiasm fuels me in the pursuit of
        many interests, hobbies, areas of study and artistic endeavors. I’m a
        fast learner, able to pick up new skills and juggle different projects
        and roles with relative ease. I like to develop expertise in a number of
        areas over the course of my life and career.
      </p>
    </section>

    <!-- skills section -->
    <section id="skills">
      <h2 class="title">Skills & Abilities</h2>
      <div class="grid-container">
        <div class="grid-item">
          <img class="skills" src="{% static 'images/C.png' %}" alt="C" />
        </div>
        <div class="grid-item">
          <img class="skills" src="{% static 'images/C++.png' %}" alt="C" />
        </div>
        <div class="grid-item">
          <img class="skills" src="{% static 'images/python.png' %}" alt="C" />
        </div>
        <div class="grid-item">
          <img class="skills" src="{% static 'images/html.png' %}" alt="C" />
        </div>
        <div class="grid-item">
          <img class="skills" src="{% static 'images/css.png' %}" alt="C" />
        </div>
        <div class="grid-item">
          <img class="skills" src="{% static 'images/git.png' %}" alt="C" />
        </div>
        <div class="grid-item">
          <img class="skills" src="{% static 'images/react.png' %}" alt="C" />
        </div>
        <div class="grid-item">
          <img class="skills" src="{% static 'images/js.png' %}" alt="C" />
        </div>
      </div>
    </section>

    <!-- projects section -->
    <section id="projects">
      <h2 class="title">Projects</h2>
      <ul class="grid" id="myul">
        <li>
          <div class="container">
            <a class="button" target="_blank"
              ><img
                src="{% static 'images/guess_number.jpg' %}"
                alt="pro1"
                class="image"
            /></a>
            <button class="btn">
              <a
                class="font"
                href="https://github.com/SURYA28052003/Guess-The-Number"
                >view code</a
              >
            </button>
          </div>
        </li>
        <li>
          <div class="container">
            <a class="button" target="_blank"
              ><img
                src="{% static 'images/movie_site.jpg' %}"
                alt="pro1"
                class="image"
            /></a>
            <button class="btn">
              <a href="https://github.com/SURYA28052003/avengers">view code</a>
            </button>
          </div>
        </li>
        <li>
          <div class="container">
            <a class="button" target="_blank"
              ><img
                src="{% static 'images/movie_site.jpg' %}"
                alt="pro1"
                class="image"
            /></a>
            <button class="btn">
              <a href="https://github.com/SURYA28052003/disease-prediction"
                >view code</a
              >
            </button>
          </div>
        </li>
      </ul>
    </section>

    <!-- contact section -->
    <section id="contact">
      <h2 class="title">Contact</h2>
      <form method="post" action="{% url 'user_info' %}">
        {% csrf_token %} {{ form.as_p }}
        <button class="form_btn" type="submit">Submit</button>
      </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
